
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

.inline-block {
    display: inline-block;
}

.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

.center-align {
    margin: 0 auto;
    width: 1190px;
}

header {
    height: 160px;
}

#header-top {
    float: right;
    margin-right: 50px;
    margin-top: 8px;
    margin-bottom: 18px;
}

#header-top span {
    font-size: 12px;
    line-height: 16px;
    color: #202020;
    font-family: -apple-system,BlinkMacSystemFont,"Malgun Gothic","맑은 고딕",helvetica,"Apple SD Gothic Neo",sans-serif;
}

#header-search {
    clear: both;
}

#header-search h1 {
    display: inline-block;
    width: 222px;
    height: 52px;
    background: url(./sp_main_16ad06.png) 0-158px no-repeat;
    background-size: 433px 409px;
    text-indent: 110%;
    overflow: hidden;
    vertical-align: middle;
}

#header-search a {
    text-decoration: none;
}

#header-search fieldset {
    position: relative;
    width: 582px;
    height: 56px;
    display: inline-block;
    border: 2px solid #19ce60;
    border-radius: 2px;
    vertical-align: middle;
    margin-left: 20px;
    padding: 13px 15px;
}

#header-search fieldset input {
    border:none;
    width: 444px;
    height: 24px;
    padding: 0;
    margin: 1px;
    background-color: #fff;
    front-size: 18px;
    line-height: 24px;
    color: #000;
    front-weight: 700;
    outline: none;
}

#header-search fieldset button {
    position: absolute;
    right: -2px;
    top: -2px;
    width: 56px;
    height: 56px;
    border: none;
    padding: 0;
    background-color: #19ce60;
    /*border-radius: 0 2px 2px 0;*/
}

#search-keyboard {
    top: 50%;
    left: 50%;
    display: inline-block;
    width: 20px;
    height: 12px;
    margin: -6px 0 0 -10px;
    background: url(./sp_main_16ad06.png) -160px -327px no-repeat;
    background-size: 433px 409px;
}

#search-history {
    display: inline-block;
    width: 10px;
    height: 5px;
    vertical-align: top;
    background: url(./sp_main_16ad06.png) -408px -128px no-repeat;
    background-size: 433px 409px;
    margin: 10px 8px;
}

#search-image {
    background: url(./sp_main_16ad06.png) -270px -342px no-repeat;
    display: inline-block;
    width: 22px;
    height: 22px;
    vertical-align: top;
    background-size: 433px 409px;
}

nav {
    height: 52px;
    border-top: 1px solid #d1d8e4;
    border-bottom: 1px solid #d1d8e4;
    padding: 6px 70px;
}

nav ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
}

nav li:first-child span:first-child {
    width: 25px;
    background-position: 0 -285px;
    margin-left: 0;
}

nav li span:first-child {
    height: 20px;
    display: inline-block;
    background: url(./sp_nav.png);
    background-repeat: no-repeat;
    margin-left: 14px;
}

nav li:nth-child(2) span:first-child {
    width: 40px;
    background-position: -279px -52px;
}

nav li:nth-child(3) span:first-child {
    width: 40px;
    background-position: -100px -182px;
}
nav li:nth-child(4) span:first-child {
    width: 40px;
    background-position: -101px -156px;
}
nav li:nth-child(5) span:first-child {
    width: 26px;
    background-position: -279px -156px;
}
nav li:nth-child(6) span:first-child {
    width: 25px;
    background-position: -70px -285px;
}
nav li:nth-child(7) span:first-child {
    width: 35px;
    background-position: -125px -130px;
}
nav li:nth-child(8) span:first-child {
    margin-left: 16px;
    width: 26px;
    background-position: -279px -208px;
}
nav li:nth-child(9) span:first-child {
    width: 26px;
    background-position: -128px -104px;
}
nav li:nth-child(10) span:first-child {
    width: 26px;
    background-position: -36px -259px;
}
nav li:nth-child(11) span:first-child {
    width: 39px;
    background-position: -151px -156px;
}
nav li:nth-child(12) span:first-child {
    width: 26px;
    background-position: -279px -130px;
}
nav li:nth-child(13) span:first-child {
    width: 28px;
    background-position: -234px -233px;
}
nav li:nth-child(14) span:first-child {
    width: 30px;
    background-position: -195px -233px;
}
nav li:nth-child(15) span:first-child {
    width: 13px;
    background-position: -140px -78px;
}
nav li:nth-child(16) span:first-child {
    width: 26px;
    background-position: -279px 0;
}

nav li.more:first-child span:first-child {
    width: 55px;
    background-position: 0 -104px;
}

.nav-divider {
    display: inline-block;
    width: 1px;
    height: 14px;
    margin: 18px 10px 0;
}

main {
    display: inline-block;
    width: 100%;
    background-color: white;
    padding: 20px 30px;
    margin: 0 auto;
}

#main-center {
    width: 1190px;
}

#main-first-block {
    display: inline-block;
    width: 100%;
}

#main-ad {
    float: left;
    width: 750px;
    height: 135px;
    background: antiquewhite;
    margin-right: 30px;
    margin-bottom: 11px;
    border: 1px solid #dae1e6;
}

#main-ad span {
    display: inline-block;
    background: url(./1.jpg);
    width: 750px;
    height: 135px;
    background-size: cover;
}

#main-login {
    float: left;
    width: 350px;
    height: 135px;
    margin-bottom: 11px;
    background-color: #f7f9fa;
    border: 1px solid #dae1e6;
}

#main-login .login-weapper {
    padding: 4px 16px 12px 17px;
}

#main-login p {
    font-size: 12px;
    line-height: 16px;
    font-family: -apple-system,BlinkMacSystemFont,"Malgun Gothic","맑은 고딕",helvetica,"Apple SD Gothic Neo",sans-serif;
    color: gray;
}

#main-login .login-box {
    display: block;
    padding: 15px 0;
    margin-top: 11px;
    background-color: #19ce60;
    border: 1px solid #15c654;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font-size: 13px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
}

#main-login .login-box span{
    background: url(./sp_main_16ad06.png) -212px -266px no-repeat;
    display: inline-block;
    width: 60px;
    height: 12px;
    vertical-align: top;
    margin: 2px 5px 0 0;
    background-size: 440px 408px;
}

#main-login .login-box a{
    color: white;
    text-decoration: none;
}

#last-box {
    font-size: 12px;
    line-height: 16px;
    font-family: -apple-system,BlinkMacSystemFont,"Malgun Gothic","맑은 고딕",helvetica,"Apple SD Gothic Neo",sans-serif;
    color:black;
    margin: 14px 8px 0 4px;
}

#last-box a{
    margin-left: 99px;
    text-decoration: none;
    color: black;
}

#main-bnews {
    float: left;
    width: 750px;
    height: 49px;
    background: antiquewhite;
    margin-right: 30px;
    margin-bottom: 11px;
}

#main-stock {
    float: left;
    width: 350px;
    height: 49px;
    background: antiquewhite;
    margin-bottom: 11px;
}

#main-third-block .inline-block:first-child {
    width: 750px;
}

#main-third-block .inline-block:last-child {
    width: 350px;
    vertical-align: top;
}

#main-newsstand {
    float: left;
    width: 750px;
    height: 318px;
    margin-bottom: 11px;
    background: antiquewhite;
    margin-right: 30px;
}

#main-category {
    float: left;
    width: 750px;
    height: 1501px;
    margin-bottom: 11px;
    background: antiquewhite;
}

#main-second-ad {
    float: left;
    width: 350px;
    height: 200px;
    background-color: antiquewhite;
    margin-bottom: 11px;
    margin-left: 24px;
    border: 1px solid #dae1e6;
}

#main-second-ad span {
    display: inline-block;
    background: url(./2.jpg);
    width: 350px;
    height: 200px;
    background-size: cover;
}

#main-shopping {
    float: left;
    width: 350px;
    height: 1539px;
    background: antiquewhite;
    margin-left: 24px;
}

#main-shopping iframe {
    width: 100%;
    height: 100%;
}